<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="board-list-section">
  <h2>게시글 목록</h2>
  <nav>
    <a href="/post">글 작성</a>
  </nav>
  <table class="board-list-table">
    <thead>
    <tr>
      <th>제목</th>
      <th>작성자</th>
      <th>작성일</th>
      <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>제목 1</td>
      <td>작성자 1</td>
      <td>2023-07-20</td>
      <td>10</td>
    </tr>
    <tr>
      <td>제목 2</td>
      <td>작성자 2</td>
      <td>2023-07-21</td>
      <td>20</td>
    </tr>
    <tr>
      <td>제목 3</td>
      <td>작성자 3</td>
      <td>2023-07-22</td>
      <td>30</td>
    </tr>
    </tbody>
  </table>
  <div class="board-list-pager">
    <a href="#">이전</a>
    <a href="#">다음</a>
  </div>
</section>
</body>
</html>