<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}">
    <title>Write Your Post</title>
</head>

<body>
    <!--header-->
    <div th:replace="~{layout :: header}"></div>

    <div class="container my-3">
        <div class="container">
            <header>
                <h2>글 작성</h2>
            </header>
            <form action="/post" th:object="${post}" method="post">
                <ul>
                    <li>
                        <label for="title">제목</label>
                        <input type="text" id="title" th:field="*{title}"/>
                    </li>
                    <li>
                        <label for="content">내용</label>
                        <input type="text" id="content" th:field="*{content}"/>
                    </li>
                    <li>
                        <button type="submit">등록</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>

    <!--footer-->
    <div th:replace="~{layout :: footer}"></div>
</body>
</html>