<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="~{layout :: head}">
    <title>About the Post</title>
</head>
<body>
    <!--header-->
    <div th:replace="~{layout :: header}"></div>

    <div class="container">
        <p>
            <a th:text="${post_detail.title}">질문</a>
        </p>
        <p>
            <a th:text="${post_detail.content}">내용</a>
        </p>
    </div>

    <form th:action="@{|/comment/create/${post_detail.id}|}" method="post">
        <textarea name="content" id="content" rows="15"></textarea>
        <input type="submit" value="댓글">
    </form>

    <!--footer-->
    <div th:replace="~{layout :: footer}"></div>
</body>
</html>